<footer class="bg-light border-top py-4 mt-5">
  <div class="container">
    <div class="row text-center text-md-start align-items-center">

      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div>
          <a href="#" class="text-secondary me-3">
            <i class="fa-brands fa-square-facebook fs-4"></i>
          </a>
          <a href="#" class="text-secondary me-3">
            <i class="fa-brands fa-square-instagram fs-4"></i>
          </a>
          <a href="#" class="text-secondary">
            <i class="fa-brands fa-square-linkedin fs-4"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-3 mb-md-0 text-secondary">
        <i class="fa-solid fa-copyright"></i>
        WanderLust Private Limited
      </div>

      <div class="col-12 col-md-4">
        <a href="/privacy" class="text-secondary me-3 text-decoration-none">Privacy</a>
        <a href="/terms" class="text-secondary text-decoration-none">Terms</a>
      </div>
    </div>
  </div>
</footer>
